<<<<<<< HEAD
body {

	background:blue;
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-size:2em;
}

h1,h2,h3,h4 {
	text-transform: uppercase;
	font-weight:700;
}


@media only screen and (min-width : 320px) {
	h1 {
		font-size:1.2em;
		line-height: 1.5em;
		margin-bottom:0;
	}
	h2 {
		font-size:.9em;
		line-height: 1.2em;
	}
	h4{font-size:.6em;}
	.governor p, .legislators-email p {font-size:.5em;}


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	h1 {
		font-size:1.5em;
		line-height: 2em;
		margin-bottom:-9px;
	}
	h2 {
		font-size:1.2em;
		line-height: 1.5em;
	}
	h4{font-size:.75em;}
	.governor p, .legislators-email p {font-size:.6em;}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	h1 {
		font-size:2.4em;
		line-height: 2em;
		margin-bottom:-9px;
	}
	h2 {
		font-size:1.8em;
		line-height: 1.5em;
	}
	h4{font-size:1em;}
	.governor p, .legislators-email p {font-size:.75em;}

}


.headerbg {background-color: rgba(0, 0 ,0 ,.72);margin:0;}
.headerbg h1 {margin:0 auto;}

.headlines {
	background-color: #c90000;
	font-size:1em;
}

.headlines:hover{
	background-color: #333;
}

#nt-title {
	list-style: none;
	margin:0;
	padding:0;
}

#nt-title li {
	line-height: 60px;
}

#nt-title li button {
	background-color:transparent;
	border:1px solid white;
}

#nt-title li button:hover{
	color:white;
}

.headlines a, .headlines a:visited, .headlines a:hover, .headlines a:active {
	text-decoration: none;
	color:white;
	font-size: 1em;
}

#header {
	background: url(/images/wv-capital-web.jpg) center top no-repeat;
    background-size: cover;
	padding-top:300px;
}

span {
	color:#c90000;
}



.nopadding {padding:0;}

hr {border-color: #c90000;}

.red-border {
	border: 1px solid #c90000;
	padding:30px;
}


.red-border p {padding:20px 0;}

p.small {font-size:.6em;}

footer {
	font-size:.9em;
	margin-top:21px;
	padding:21px;
	border-top:20px solid #c90000;
}

.btn {background-color: #c90000; color:white; text-transform: uppercase;}
a, a:hover, a:visited {text-decoration: none;color:white;}
.btn.focus, .btn:focus, .btn:hover {color:red;}

.governor img, .legislators-email img {width:120px;}

.form-letter {color:black;}

.margin-top {margin-top:2em;}
.margin-bottom {margin-bottom:2em;}

ul {padding:none;}
ul li {font-size:.9em;}


/*Social Links*/

a .fa-facebook-square {color:#3b5998;}
a .fa-twitter-square {color:#55acee;}
a .fa-linkedin-square {color:#007bb5;}
a .fa-envelope {color:black;}
a .fa-square {color:white;}

=======
.btn,h1,h2,h3,h4{text-transform:uppercase}#nt-title li button:hover,.btn,a,a:hover,a:visited,body{color:#fff}body{background:#000;font-family:'Open Sans',sans-serif;font-size:2em}h1,h2,h3,h4{font-weight:700}@media only screen and (min-width :320px){h1{font-size:1.2em;line-height:1.5em;margin-bottom:0}h2{font-size:.9em;line-height:1.2em}h4{font-size:.6em}.governor p,.legislators-email p{font-size:.5em}}@media only screen and (min-width :768px){h1{font-size:1.5em;line-height:2em;margin-bottom:-9px}h2{font-size:1.2em;line-height:1.5em}h4{font-size:.75em}.governor p,.legislators-email p{font-size:.6em}}@media only screen and (min-width :992px){h1{font-size:2.4em;line-height:2em;margin-bottom:-9px}h2{font-size:1.8em;line-height:1.5em}h4{font-size:1em}.governor p,.legislators-email p{font-size:.75em}}.headerbg{background-color:rgba(0,0 ,0 ,.72);margin:0}.headerbg h1{margin:0 auto}.headlines{background-color:#c90000;font-size:1em}.headlines:hover{background-color:#333}#nt-title{list-style:none;margin:0;padding:0}#nt-title li{line-height:60px}#nt-title li button{background-color:transparent;border:1px solid #fff}.headlines a,.headlines a:active,.headlines a:hover,.headlines a:visited{text-decoration:none;color:#fff;font-size:1em}#header{background:url(/images/wv-capital-web.jpg) center top no-repeat;background-size:cover;padding-top:300px}span{color:#c90000}.nopadding{padding:0}hr{border-color:#c90000}.red-border{border:1px solid #c90000;padding:30px}.red-border p{padding:20px 0}p.small{font-size:.6em}footer,ul li{font-size:.9em}footer{margin-top:21px;padding:21px;border-top:20px solid #c90000}.btn{background-color:#c90000}a,a:hover,a:visited{text-decoration:none}.btn.focus,.btn:focus,.btn:hover{color:red}.legislators-email{display:none}.governor img,.legislators-email img{width:120px}.form-letter{color:#000}.margin-top{margin-top:2em}.margin-bottom{margin-bottom:2em}ul{padding:none}.mce-content-body{border:0;margin:0;background:50% 50% no-repeat;text-decoration:none;box-sizing:border-box;font-weight:400}.mce-content-body :focus{outline:0}.mce-content-body b,.mce-content-body strong,.mce-content-body strong *,.mce-content-bodyb *{font-weight:700}.mce-content-body button,.mce-content-body input[type=button],.mce-content-body input[type=color],.mce-content-body input[type=date],.mce-content-body input[type=datetime-local],.mce-content-body input[type=datetime],.mce-content-body input[type=email],.mce-content-body input[type=month],.mce-content-body input[type=number],.mce-content-body input[type=password],.mce-content-body input[type=reset],.mce-content-body input[type=search],.mce-content-body input[type=submit],.mce-content-body input[type=tel],.mce-content-body input[type=text],.mce-content-body input[type=time],.mce-content-body input[type=url],.mce-content-body input[type=week],.mce-content-body pre,.mce-content-body select,.mce-content-body textarea,.mce-content-bodyinput,.mce-content-bodyinput:not([type]){font:inherit}@font-face{font-family:aileron;font-style:normal;font-weight:200;src:url(../fonts/aileron-ultra-light.eot?#iefix) format("embedded-opentype"),url(../fonts/aileron-ultra-light.woff) format("woff"),url(../fonts/aileron-ultra-light.ttf) format("truetype")}.mce-container textarea{display:initial!important}.mce-content-body{font-family:'Open Sans';font-size:14px;color:#626262;padding:0 25px 25px}.mce-content-body h1,.mce-content-body h2,.mce-content-body h3,.mce-content-body h4,.mce-content-body h5,.mce-content-body h6{font-family:aileron;font-weight:200;line-height:1.4em;margin:25px 0 15px}.mce-content-body h1{font-size:34px}.mce-content-body h2{font-size:30px}.mce-content-body h3{font-size:26px}.mce-content-body h4{font-size:22px}.mce-content-body h5{font-size:18px}.mce-content-body h6{font-size:14px}.mce-content-body p{margin:25px 0}.mce-content-body ol,.mce-content-body ul{list-style:none;margin-left:15px;margin-bottom:20px}.mce-content-body ol li,.mce-content-body ul li{margin-left:10px;margin-bottom:10px;color:#626262}.mce-content-body ul{list-style-type:disc}.mce-content-body ol{list-style-type:decimal}.mce-content-body a[href]{text-decoration:underline}.mce-content-body table{width:100%;border-spacing:0;border-collapse:separate;border:1px solid #aaa}.mce-content-body table tr:nth-child(even){background:#FAFAFA}.mce-content-body table caption,.mce-content-body table td,.mce-content-body table th{padding:15px 7px;font:inherit}.mce-content-body table th{font-weight:400;color:#6E6E6E;background-position:100% 100%;background-size:2px 10px;background-repeat:no-repeat}.mce-content-body table th:last-child{background:0 0}a .fa-facebook-square{color:#3b5998}a .fa-twitter-square{color:#55acee}a .fa-linkedin-square{color:#007bb5}a .fa-envelope{color:#000}a .fa-square{color:#fff}
>>>>>>> 41f0c6fea1fff073b62fe306dcc60a78fc52bcab
