body {

	background:black;
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-size:2em;
}

h1,h2,h3,h4 {
	text-transform: uppercase;
	font-weight:700;
}


@media only screen and (min-width : 320px) {
	h1 {
		font-size:1.2em;
		line-height: 1.5em;
		margin-bottom:0;
	}
	h2 {
		font-size:.9em;
		line-height: 1.2em;
	}
	h4{font-size:.6em;}
	.governor p, .legislators-email p {font-size:.5em;}


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	h1 {
		font-size:1.5em;
		line-height: 2em;
		margin-bottom:-9px;
	}
	h2 {
		font-size:1.2em;
		line-height: 1.5em;
	}
	h4{font-size:.75em;}
	.governor p, .legislators-email p {font-size:.6em;}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	h1 {
		font-size:2.4em;
		line-height: 2em;
		margin-bottom:-9px;
	}
	h2 {
		font-size:1.8em;
		line-height: 1.5em;
	}
	h4{font-size:1em;}
	.governor p, .legislators-email p {font-size:.75em;}

}


.headerbg {background-color: rgba(0, 0 ,0 ,.72);margin:0;}
.headerbg h1 {margin:0 auto;}

.headlines {
	background-color: #c90000;
	font-size:1em;
}

.headlines:hover{
	background-color: #333;
}

#nt-title {
	list-style: none;
	margin:0;
	padding:0;
}

#nt-title li {
	line-height: 60px;
}

#nt-title li button {
	background-color:transparent;
	border:1px solid white;
}

#nt-title li button:hover{
	color:white;
}

.headlines a, .headlines a:visited, .headlines a:hover, .headlines a:active {
	text-decoration: none;
	color:white;
	font-size: 1em;
}

#header {
	background: url(/images/wv-capital-web.jpg) center top no-repeat;
    background-size: cover;
	padding-top:300px;
}

span {
	color:#c90000;
}



.nopadding {padding:0;}

hr {border-color: #c90000;}

.red-border {
	border: 1px solid #c90000;
	padding:30px;
}


.red-border p {padding:20px 0;}

p.small {font-size:.6em;}

footer {
	font-size:.9em;
	margin-top:21px;
	padding:21px;
	border-top:20px solid #c90000;
}

.btn {background-color: #c90000; color:white; text-transform: uppercase;}
a, a:hover, a:visited {text-decoration: none;color:white;}
.btn.focus, .btn:focus, .btn:hover {color:red;}

.legislators-email {display: none;}
.governor img, .legislators-email img {width:120px;}


.form-letter {color:black;}

.margin-top {margin-top:2em;}
.margin-bottom {margin-bottom:2em;}

ul {padding:none;}
ul li {font-size:.9em;}


/*Social Links*/
#social-links ul { display:block; padding:0;}
#social-links ul li {display:inline; margin: 0 10px;}
.fa-facebook-square {color:#3b5998;}
.fa-twitter {color:#55acee;}
.fa-linkedin {color:#007bb5;}
.fa-reddit {color:white;}
.fa-telegram {color:white;}
.fa-whatsapp {color:green;}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
